<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>


  
    <h1> File uploader!</h1>
    <form action="/post" method="POST" enctype='multipart/form-data'>   
      <input type='text'name="photo[title]">
      <input type='file' name='photo[file]'> 

      <br>
      <input type='submit' value='Upload!'>
    </form>  

</div>
